/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=IM+Fell+English&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #6ef864;
  --secondary-color: #00618b;
  --accent1-color: #ff9830;
  --accent2-color: #00aefb;

  /* change the values below to your chosen font(s) */
  --heading-font: Finger Paint, IM Fell English, cursive;
  --paragraph-font: IM Fell English, cursive, monospace;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #00618b;  /* headlines on a white background */ 
  --headline-color-on-color: #00618b; /* headlines on a colored background */ 
  --paragraph-color-on-white: #00aefb; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #00618b; /* paragraph text on a colored background */ 
  --paragraph-background-color: #6ef864;
  --nav-link-color: #ff9830;
  --nav-background-color: #00618b;
  --nav-hover-link-color: #00618b;
  --nav-hover-background-color: #6ef864;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#active {
  background-color: #6ef864;
  color: #00618b
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.water {
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0px;
  background-color: #00618b;
  box-shadow: inset 0 0 50px #000507;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
}

.waves {
  width: 10%;
  height: 90%;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
}

.border {
  right: 0vw;
  top: 0vh;
  width: 8vw;
  height: 100vh;
  position: fixed;
  box-shadow: inset 0 0 25px black;
  background-image: linear-gradient(#6ef864, #0f220d);
}

.box {
  position: relative;
  background-color: black;
}

.box::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0%;
  width: 75%;
  height: 75%;
  background-color: white;
}

.circle {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0.25em 0.5em black;
  background: radial-gradient(circle at 50% 50%, #6ef864, black);
}

.canvas {
  width: 5vw;
  height: 5vw;
  top: 0vw;
  right: 0vw;
  position: fixed;
}

.pixel {
  width: 10%;
  height: 10%;
  float: left;
  box-shadow: 0% 0% 1% #fff;
}

.pixel:nth-child(21) {
  background: #000000;
}