body {
    background-color: #071820;
}
nav {
    text-align: center;
    border-color: #071820;
    color: #071820;
}
nav a {
    padding: 1em;
    text-decoration: none;
    background-color: #87c168;
    border-radius: 5vw;
}
nav a:link, nav a:visited {
    color: #071820;
  }
nav a:hover {
    color: white;
    background-color: #336856;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}
p {
    text-align: center;
    color: white;
}
@media only screen and (max-width: 1060px) {
    nav a {
        margin-top: 1em;
        display: inline-block;
        width: 50vw;
    }    
}